# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
myenv/
venv/
ENV/

# Environment Variables
.env
.env.local

# IDE settings
.vscode/
.idea/

# macOS system files
.DS_Store

# Local development settings
instance/
*.log